fastapi>=0.115.6
uvicorn[standard]>=0.32.0
sqlalchemy[asyncio]>=2.0.36
asyncmy>=0.2.9
pydantic>=2.10.6
pydantic-settings>=2.1.0
python-multipart>=0.0.19
email-validator>=2.2.0
bcrypt>=4.3.0
python-jose[cryptography]>=3.4.0
redis>=5.0.1
celery>=5.4.0
opencv-python>=4.10.0
mediapipe==0.10.14
pymysql>=1.1.0